@{
    ViewData["Title"] = "Home Page";

    var firstDayNum = (int)ViewData["FirstDay"];
    var temp = 1;
    var tempNextMonth = 1;
}


<div height="100%">
    <div class="test">
        <div class="test2"> Poniedziałek </div>
        <div class="test2"> Wtorek </div>
        <div class="test2"> Środa </div>
        <div class="test2"> Czwartek </div>
        <div class="test2"> Piątek </div>
        <div class="test2"> Sobota </div>
        <div class="test2"> Niedziela </div>
    </div>
    

    @for (int i = 0; i < 5; i++){

    <div class="test">
        @for (int j = 0; j<7; j++){


            if (firstDayNum != 0){
                <div class="test2"> 

                    <p>@((int)ViewData["PrevMonthNumOfDays"]- (firstDayNum-1))</p>

                    @{firstDayNum = firstDayNum - 1;}

                </div>
            }
            else
            {
                if (temp <= (int)ViewData["ThisMonthNumOfDays"]){
                    <div class="test2" > 

                        <p> @temp</p>
                        @{temp++;}

                    </div>
                }
                else {
                    <div class="test2"> 

                        <p> @tempNextMonth</p>
                        @{tempNextMonth++;}

                    </div>
                }
                
            }
  
        }
    </div>
    }
</div>