html {
  font-size: 16px;
  margin: 0;
  overflow: hidden;
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

html {
  position: relative;
  min-height: 100%;
  height: 100% ;
}

body {
  margin-bottom: 60px;
  height: inherit;
}

.day-of-week-row {
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: row;
}

.day-row {
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    flex:1;
}

.day-of-week {
    min-width: 100px;
    width: 20%;
    margin: 5px;
    background-color: aqua;
    text-align: center;
    flex: 1;
}

.day {
    min-width: 100px;
    width: 20%;
    margin: 5px;
    background-color: white;
    height: 90%;
    min-height: 100px;
    transition: 300ms;
}

.day:hover {
    border-color: red;
    background-color: red;
}

.background {
    height: 100% ;
    width: 100% ;
    background-color: lightskyblue;
}

.fullscreen-minus-footer {
    background-color: blue;
    height: calc(100% - 134px);
}

.test {
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.footer2 {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: white;
    vertical-align: bottom;
}

.add-emp-box {
    position: absolute;
    top: 0;
    height: inherit;
    width: inherit;
    background-color: red;
    transition: 300ms;
}

.add-emp-box:focus {
    top: -200px;
    height:300px;
    background-color: yellow;
}